<div class="main">
 <div class="center">
    <div class='form_background'>
      <div>
    <span style="font-size: 28px;font-weight: 700;">Login</span>
   <form action="/admin" method="post">
    <label for="username"><b>Username </b></label>
    <input class="enlarge" type="text" name="username" placeholder="Enter Username" >
    <label for="password"><b>Password </b></label>
    <input class="enlarge" type="password" name="password" placeholder="Enter Password">
    <input id="submit_btn" type="submit" value="login">
    </form>
    </div>
  </div>

</div>