<footer class="footer">
 <div style="color:white"><img src="/img/20240308_155725.png" alt="grid news logo"></div>
  <div class="footer_heading">Browse by category </div>
  <div class="footer_set">
    <div class="parent">
  <div class="category_container">
    <div class="a"><i id="play" class="fa-solid fa-play"></i><a href="/allpolitics" id="anc" >&nbsp;Politics</a></div>
    <div class="b"><i id="play" class="fa-solid fa-play"></i><a href="/alltechnology"  id="anc">&nbsp;Technology</a></div>
    <div class="c"><i id="play" class="fa-solid fa-play"></i><a href="/allsports"  id="anc">&nbsp;Sports</a></div>
    <div class="d"><i id="play" class="fa-solid fa-play"></i><a href="/allbusiness"  id="anc">&nbsp;Business</a></div>
    <div class="e"><i id="play" class="fa-solid fa-play"></i><a href="/alleducation"  id="anc">&nbsp;Education</a></div>
    <div class="f"><i id="play" class="fa-solid fa-play"></i><a href="/allentertainment"  id="anc">&nbsp;Entertainment</a></div>
    <div class="g"><i id="play" class="fa-solid fa-play"></i><a href="/more_latestnews"  id="anc">&nbsp;Latest News</a></div>
    <div class="h"><i id="play" class="fa-solid fa-play"></i><a href="/more_topnews"  id="anc">&nbsp;Top News</a></div>
    <div class="i"><i id="play" class="fa-solid fa-play"></i><a href="/alleconomy"  id="anc">&nbsp;Economy</a></div>
  </div>
</div>

  <div class="s_f">
    <div class=" input"><form class="sbtn_container" method="post" action="/search"  role="search">
      <input type="text" placeholder="Search" id="searchbar" value="" name="searchValue">
      <button type="submit" class="circle"><i class="fa-solid fa-magnifying-glass" style="color: #0a0e15;margin-left: 6px;font-size:20px;"></i> </button>
  </form>
</div>
  <div  style="margin-top: 15px;margin-left: 27px;" class="follow_container">
    <div class="bck">
      <span><i class="fa-brands fa-facebook-f"></i></span>
     </div>
    <div class="bck">
      <span><i class="fa-brands fa-instagram"></i></span>
    </div>
    <div class="bck">
      <span><i class="fa-brands fa-x-twitter"></i></span>
    </div>
    <div class="bck">
      <span><i class="fa-brands fa-linkedin-in"></i></span>
    </div>
   </div> 
</div>

 </div>
 
 <div class="follow_set">
 <div class="follow_container">
 <div class="bck">
  <span><i class="fa-brands fa-facebook-f"></i></span>
 </div>
<div class="bck">
  <span><i class="fa-brands fa-instagram"></i></span>
</div>
<div class="bck">
  <span><i class="fa-brands fa-x-twitter"></i></span>
</div>
<div class="bck">
  <span><i class="fa-brands fa-linkedin-in"></i></span>
</div>
</div>
</div>

<div class="copyright"><span><i class="fa-regular fa-copyright"></i></span> 2023 GRID NEWS . Powered by DauntlessDev</div>

<div class="line"></div>

<div class="contact_set">
<div class="contact_container">
    <div class="about"><a href="/about" id="anc">About us</a></div>
    <div class="advert"> <a href="/contact" id="anc">Advertise with us</a></div>
    <div class="contact"> <a href="/contact" id="anc">Contact</a></div>
</div>
</div>
</footer>
