<div class="main">
<div class="lapfinal_postcon">
        <div class="center">
             <div style="width: 80%;">
            <div style="width: 100%;text-align: center;"><h3 style="color: #a00202;">SEND US A MESSAGE</h3></div>
          <form action="https://formspree.io/f/xnqezwky" method="post">
           <label for="username"><b>NAME</b></label>
           <input id="contact_input" type="text" name="username" placeholder="Enter Name" required>
           <label for="message"><b>MESSAGE</b></label>
           <textarea></textarea>
           <button id="con_btn" type="submit">SEND</button>
           </form>

           </div>
       </div>
</div>
</div>