
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Bebas+Neue&family=Bree+Serif&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Kanit:wght@300;500&family=Kdam+Thmor+Pro&family=League+Spartan:wght@100..900&family=Merriweather+Sans&family=Montserrat:wght@400;500&family=Newsreader:opsz@6..72&family=Oswald&family=Outfit:wght@100..900&family=Poppins&family=Raleway:ital,wght@1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Share+Tech+Mono&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
:root{
  --general-bacground :linear-gradient(180deg,rgb(212, 82, 82) , rgb(140, 5, 5));
  --headling-text: 'Montserrat', serif;
}
body,html{
  font-family: 'Poppins', sans-serif;
  padding:0;
  margin:0;
  background-color: white;
  font-weight: 600;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "Exo 2", sans-serif;;
}
element:focus {
  outline: none;
}
.blank{
  display: none;
}
#close_btn{
  font-size: 25px;
  float: right;
  margin:8px 20px 0 0;
  display: none;
}
#close_btn:hover{
  color:white;
}
.aktive{
  color:white
}
.pull{
  width: 100%;
  height: 0;
  position:fixed;
  top:0;
  z-index: 2;
  background-color: rgba(0,0,0, 0.9);
  color:#818181 ;
  margin-top: 0px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
   display: block;
   overflow-y: hidden;
}
.content_set{
 width:100%;
 display:none;
 justify-content: center;
 align-items: center;
}
.content{
  text-align: center;
  font-size: 25px;
}
a{
  text-decoration: none;
  color:inherit;
}
#anc{
  color:#818181;
}
#anc:hover{
  color:white
}
.display{
  display: grid;
}
#mobile_search{
  width: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

 .nav_bar{
  width: 100%;
  height: 70px;
  background-color: black;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  display:grid;
  align-items: center;
  z-index: 1;
}
.main{
  margin-top: 80px;
}
label{
  display: block;
}
#submit_btn{
  display:block;
  width: 100px;
  height: 35px;
  border-radius:30px;
  background-color: rgb(29, 28, 28);
  color: white;
  font-size: 15px;
  margin: 10px 0;
}

.form_submitbtn{
  display: block;
  background-color: rgb(29, 28, 28);
  width:90px;
  height:40px ;
  margin:5px 0 5px 0;
  border-radius: 5px;
  color:white;
  font-size: 13px;
}
.form_submitbtn:hover{
  background-color: rgb(72, 69, 69);
}

 input[type="text"],input[type="password"]{
    width:280px;
    height: 42px;
    border-radius:30px;
    background-color: rgb(29, 28, 28);
    border: none;
    color: white;
    font-size: 16px;
    padding: 0 10px 0 10px;
    outline: none;
   }

  .sbtn_container{
    width: 280px;
    display: flex;
    align-items: center;
   }
   .circle{
    width:45px;
    height:44px;
    border-radius: 50%;
    background-color:white;
    margin-left: -45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid white;
   }
#bar{
  color:white;
  font-size: 30px;
}
#search{
  color:white;
  font-size: 30px;
  float: right;
}
.header-search{
  display: flex;
  width: 100%;
}
.header_container{
display:grid;
grid-template-columns: 1fr 3fr 1fr;
grid-template-areas:'curtain name search';
gap:10px;
width: 100%;
height:100%;
align-items: center;
margin-top: 14px;
transition: 0.5s;
-webkit-transition: 0.5s;
-moz-transition: 0.5s;
overflow: hidden;
}
.curtain{
  grid-area: curtain;
  margin-left: 10px;
}
.name{
  grid-area:name;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
}
.search{
  grid-area:search;
  margin-right: 10px;
}

.latestnews_container{
  width: 94%;
  margin-top: 5px;
}
.latestnews_set{
  display: flex;
  justify-content: center;
}
.item1{grid-area:lnimage;
}
.item2{grid-area:lntext;
  font-size: 15px;
  font-weight: 700;
}
.grid_container{
display:grid;
grid-template-columns: 1fr 3fr;
grid-template-areas:'lnimage lntext';
gap:10px;
width: 100%;
}
.latestnewsimg{
  width: 140px;
  height: 95px;
  border-radius:4px ;
}
.ct{
  display: flex;
  justify-content: flex-end;
  width: 100px;
  float: right;
}
#ct{
  font-size:7px;
  color:rgb(49, 48, 48);
  margin-top: 0;
  font-family:'Poppins', sans-serif;
}
.more{
  width: 150px;
  height:28px;
  background:black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  opacity: 0.8;
}
button{
  border: none;
  cursor: pointer;
}
.more:hover{
    background: rgb(38, 37, 37);
    opacity: 1;
   }
.more_set{
  width:100%;
  display:flex;
  justify-content: center;
  margin-top: 4px;
  margin-bottom: 18px;
}

.topnewsimg{
  width: 100%;
  height: 200px;
  border-radius: 8px;
  margin: 0;
}
#pointer{
    width:48%;
    height: 40px;
    background: var(--general-bacground);
    display:flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size:16px;
    font-family: "Exo 2", sans-serif;
    font-weight: 700;
  }
  .topnews_container{
    margin-top: 5px;
    width:94%;
    padding: 0;
    margin-right: 0;
  }
  .topnews_set{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .category{
    width:90px;
    height:20px;
    background-color: #04AA6D;
    color: white;
    margin-bottom:-4px;
    text-align: center;
  }
  .cat{
    float: left;
    font-family: var(--headling-text);
    font-size: 8px;
    color: rgb(170, 8, 8);;
  }
  .topnews_frame{
    width: 100%;
    font-size: 10px;
    margin-bottom:5px;
  }
  .lead{
    color:rgb(136, 134, 134);
    font-weight: 500;
    font-size: 14px;
  }
  hr{
    border:none;
    background-color:rgb(238, 231, 231);
    height: 1.5px;
    margin: 3px 0;
  }
  .footer{
    width: 100%;
    height: 310px;
    background-color: black;
  }
 
  h2{
    color:white
  }
  .a{
    grid-area: politics;
  }
  .b{
    grid-area: tehcnology;
  }
  .c{
    grid-area: sports ;
  }
  .d{
    grid-area: business;
  }
  .e{
    grid-area: education;
  }
  .f{
    grid-area: entertainment;
  }
  .g{
    grid-area: latest;
  }
  .h{
    grid-area: topnews;
  }
  .i{
    grid-area: economy;
  }
  .category_container{
    display:grid;
    grid-template-areas:"politics tehcnology sports"
    "business education entertainment" 
    "latest topnews economy";
    grid-template-columns: auto auto auto;
    color: white;
    font-size: 14px;
    font-weight: 700;
    width: 87%;
    margin-left: 5%;
    margin-top: 5px;
  }
  #play{
  color:rgb(140, 5, 5);
  font-size: 10px;
  }
  .footer_heading{
    color:rgb(140, 5, 5);
    font-size: 15px;
    margin-top: 5px;
    margin-left: 5%;
  }
  .footer_set{
    width: 100%;
    display:flex;
    justify-content: center;
  }
  .bck{
    width:35px;
    height: 35px;
    background-color: rgb(31, 31, 29);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bck span{
    color: white;
    font-size: 20px;
  }

  
  .follow_container{
    display: flex;
    width:175px;
    justify-content: space-around;
  }
  .follow_set{
    display:flex;
    width:100%;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 25px;
  }
  .copyright{
    color: white;
    text-align: center;
    font-size: 11px;
  }
  .contact_container{
 display:grid;
 grid-template-columns:auto auto auto;
 grid-template-areas: "about advert contact";
 color: white;
 gap: 20px;
 font-size: 13px;
  }
  .about{
    grid-area: about;
  }
  .advert{
    grid-area: advert;
  }
  .contact{
    grid-area: contact;
  }
  .contact_set{
    width:100%;
    display: flex;
    justify-content: center;
  }
  .line{
 width: 100%;
 height: 1px;
 position: relative;
 background-color: white;
 margin-top: 18px;
 margin-bottom:8px;
 border: none;
  }
  .line::after{
    position: absolute;
    content:"";
    bottom: 0;
    left: 0;
    width: 20%;
    height: 0;
    border-top: 1px solid  red;
  }
  .next{
    color: aliceblue;
  }
  .dot{
    margin-top: -5px;
  }
  .pagination{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
  }
  .pagination .ul{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pagination .ul li{
    list-style-type: none;
    line-height: 18px;
  }
  .pagination .ul li.num{
    width:30px;
    height: 30px;
    border-radius: 50%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color:black ;
    border-style:solid;
    border-width: 2px;
    margin-left: 3px;
  }
  .pagination .ul li.dot{
    margin-left: 3px;
    color: aliceblue;
  }
  .pagination_shell{
    border:1px solid rgb(8, 7, 7);
    background: var(--general-bacground);;
    width: fit-content;
    border-radius: 23px;
    height: 40px;
    padding: 0 10px 0 10px;
    display: flex;
    align-items: center;
  }
  .pagination .ul li.num.active,
  .pagination .ul li.num:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--general-bacground);
    color: white;
  }
  .prev:hover, .next:hover{
    color: var(--general-bacground);
  }
  .prev{
    margin-left: -35px;
    color: aliceblue;
  }
  .main_body{
    margin: 0;
    padding: 0;
    }
   
     .lapcat_general, .lapheader_containerset{
      display: none;
     }
    .s_f{
    display:none;
    }
    .parent{
      width: 100%;
      display: flex;
     }

  .post_container{
      width:100%;
      margin-top: 80px;
  }
  .final_postcon{
    margin: 0 10px 0 10px;
  }

  .container_img{
    width:100% ;
  }
  #news_photo{
    width: 100%;
  }
  .article_container{
    display: flex;
    width: 100%;
    justify-content: center;
  }
  article{
    width: 94%;
  }
  figure{
    margin: 0 10px 10px;
  }
  .related_newsbody{
    margin-top: 5px;
    width: 94%;
  }
  .rl_container{
    display:flex;
    justify-content: center;
    width: 100%;
  }
  .related_con{
    margin-top: 15px;
  }
  .content_news{
    font-family: 'Newsreader', serif;
    font-size: 18px; 
    font-weight: 400;
  }
  .content_newsh{
    color: black;
    font-size: 22px;
    line-height:25px;
    margin-bottom:2px;
    font-family: 'Newsreader', serif; 

  }
  .vid_container{
    display:flex;
    justify-content: center;
    width: 100%;
    margin: 3px 0 10px 0;
  }
 .center{
  width:100%;
  display: flex;
  justify-content: center;
  margin-top: 170px;
 }
  .blank2{
    display:none;
  }
  .edit_btn{
    width: 100px;
    height: 35px;
    background-color:  rgb(12, 131, 12);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 14px;
  }
  .delete_btn{
    width: 100px;
    height: 35px;
    background-color: #a00202;
    color: white;
    display: flex;
    align-items: center;
   justify-content: center;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 700;
  }
  .btns_container{
    width: 220px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px 10px;
  }
  
  textarea{
    border-radius:8px;
    background-color: rgb(29, 28, 28);
    border: none;
    color: white;
    font-size: 16px;
    width: 100%; 
    margin: 0;
    border-width: 0; 
    height: 250px;
    box-sizing: border-box;
    padding:5px 10px;
    cursor: pointer;
  }
  #select{
    font-size: 16px;
    background-color: rgb(29, 28, 28);
    color:#9c9c9c ;
    cursor: pointer;
  }
  input[type='radio'], input[type='checkbox']{
    width: 20px;
    height: 20px;
  }
  .t_l{
    display: flex;
     margin: 5px 0 5px 0;
      justify-content: space-between;
      align-items: center;
      width: 100%;
  }
  .post_form{
    width: 100%;
  }
  .file_name + input{
    display: none;
  }
  .file_name{
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  form select{
    width: 100%;
    height: 45px;
    border-radius: 8px;
  }
  .post_form label:nth-child(1){
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
  }
  input{
    cursor: pointer;
  }
  .file_input input{
    display: none;
  }
  label img{
    width: 35px;
  }
  .post_formset{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #post_t{
    width: 100% !important;
    padding:0 10px;
    margin: 0 !important;
    height: 45px;
    border-radius: 5px !important;
    box-sizing: border-box;
  }
  
 .popup{
  width: 300px;
  height: 100px;
  text-align: center;
  justify-content: center;
  z-index: 3;
  position: fixed;
  left: 0;
  top:0 ;
  bottom: 0;
  right: 0;
  margin: auto;
  background-color:black;
  border-radius: 8px;
  padding: 10px 10px;
  box-sizing: border-box;
  display: none;
  align-items: center;
 }
 .yes_no{
  display: flex;
  justify-content: space-around;
  width: 100%;
  box-sizing: border-box;
  padding: 0 30px;
  margin-top: 10px;
 }
 .footer img:nth-child(1){
  width: 130px;
  margin-left: 15px;
  margin-top: 15px;
 }
.name img, .lapname img{
  width:100px
}
.lapfinal_postcon{
  display: flex;
  justify-content: center;
  min-height: 100svh;
  max-height: max-content;
  }
  #contact_input{
    width: 100%;
    border-radius: 8px;
  }
  #con_btn{
  border-radius: 8px;
  display:block;
  width: 100px;
  height: 35px;
  background-color: rgb(29, 28, 28);
  color: white;
  font-size: 15px;
  margin: 10px 0;
  }

@media only screen and (min-width:768px) and (max-width:1023px) {
  .topnewsimg{
    width: 100%;
    height: 300px;
    border-radius: 8px;
    margin: 0;
  }
  .asize{
    font-size: 23px;
  }
  .main{
    width: 80%;
    }
    .main_body{
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 0;
     }
     .item2{grid-area:lntext;
      font-size: 17px;
      font-weight: 700;
    }
    .lead{
      color:rgb(136, 134, 134);
      font-weight: 500;
      font-size: 16px;
    }
    .cat{
      float: left;
      font-family: var(--headling-text);
      font-size: 10px;
      color: rgb(170, 8, 8);;
    }
    #ct{
      font-size:9px;
      color:rgb(49, 48, 48);
      margin-top: 0;
      font-family:'Poppins', sans-serif;
    }
    .latestnews_container{
      width: 100%;
    }
    .topnews_container{
      width:100%;
    }
    .header-search{
      display: none;
    }
    .pull{
      width: 100%;
      height: 0%;
      position:fixed;
      z-index: 2;
      background-color: rgba(0,0,0, 0.9);
      color:#818181 ;
      margin-top: 0;
      transition: 0.5s;
      display: block;
    }
 
   .header_container{
   display: none;
   }
   .header{
    width: 100%;
    height: 70px;
    background-color: black;
   position: fixed;
   z-index: 1;
   display: grid;
  }
  .lapheader_container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-areas:"lapname home politics sports education entertainment input";
    color:white;
    width: 96%;
    height:100%;
    align-items: center;
    text-align: center;
   }
   .lapheader_containerset{
    width: 100%;
    display: flex;
    justify-content: center;
   }
   #nsearch{
    width: 420px;
    height: 28px;
    border-radius: 10px;
   }
   .lapname{
    grid-area:lapname;
   }
   .home{
    grid-area: home;
   }
   .poli{
   grid-area:politics;
   }
   .spor{
    grid-area:sports
   }
   .edu{
    grid-area:education;
   }
   .ent{
    grid-area:entertainment
   }
   .input{
    grid-area:input;
   }
   .category_container{
    font-size: 17px;
  }
  .footer_heading{
    font-size:17px ;
  }
  .copyright{
    font-size: 14px;
  }
  .contact_container{
    font-size: 16px;
  }

  
} 
@media only screen and (min-width: 1024px) {

  .parent{
    width: 800px;
   }
   .main{
    width: 60%;
   }
    .main_body{
     width: 100%;
     display: flex;
     justify-content: center;
     margin: 0;
    }
    .header{
      width: 100%;
      height: 70px;
      background-color: black;
     position: fixed;
     z-index: 1;
     display: grid;
    }
    .vid_container video{
      width: 390px !important;
      height: 310px !important;
    }
    .header-search{
      display: none;
    }
    .pull{
      width: 100%;
      height: 0%;
      position:fixed;
      z-index: 2;
      background-color: rgba(0,0,0, 0.9);
      color:#818181 ;
      margin-top: 0;
      transition: 0.5s;
      display: block;
    }
 
   .header_container{
   display: none;
   }
   .lapname{
    grid-area:lapname;
   }
   .home{
    grid-area: home;
   }
   .poli{
   grid-area:politics;
   }
   .spor{
    grid-area:sports
   }
   .edu{
    grid-area:education;
   }
   .ent{
    grid-area:entertainment
   }
   .input{
    grid-area:input;
   }

  .lapheader_container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-areas:"lapname home politics sports education entertainment input";
    color:white;
    width: 96%;
    height:100%;
    align-items: center;
    text-align: center;
   }
   .lapheader_containerset{
    width: 100%;
    display: flex;
    justify-content: center;
   }
   #nsearch{
    width: 420px;
    height: 28px;
    border-radius: 10px;
   }
  input[type="text"]{
    width:280px;
    height: 42px;
    border-radius:30px;
    background-color: rgb(29, 28, 28);
    border: none;
    color: white;
    font-size: 16px;
    padding: 0 10px 0 10px;
    outline: none;
   }
  .sbtn_container{
    width: 280px;
    display: flex;
    align-items: center;
   }
 
   .circle{
    width:47px;
    height:44px;
    border-radius: 50%;
    background-color:white;
    margin-left: -45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid white;
   }
   .category_container{
    display:grid;
    grid-template-areas:"politics tehcnology sports"
    "business education entertainment" 
    "latest topnews economy";
    grid-template-columns: auto auto auto;
    color: white;
    font-size: 18px;
    width: 60%;
    margin-left: 5%;
    
  }
  .footer_heading{
    color:rgb(140, 5, 5);
    font-size: 25px;
    margin-top: 50px;
   text-align: center;
   margin-bottom: 8px;
  display: none;
  }
  .footer_set{
    width: 100%;
    display:flex;
    justify-content: center;
    padding: 0;
  }
  .footer{
    width: 100%;
    height: 320px;
    background-color: black;
    margin-top:10px;
    padding: 0;
  }
  .follow_container{
    display: flex;
    width:fit-content;
    justify-content: space-around;
  }
  .bck{
    width:40px;
    height: 40px;
    background-color: rgb(29, 31, 31);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
  }
  #follow_img{
    width:20px;
    height: 20px;
  }
  .follow_set{
    display: none;
  }
  .copyright{
    margin-top: 40px;
    font-size: 15px;
  }
  .contact_container{
    font-size: 18px;
  }
  .s_f{
    display:block;
    margin-left: -12%;
    }
   .lap_v{
    display: none;
   }
   .post_container{
    width:100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.lap_postcontainer{
  width: 80%;
  display: flex;
  justify-content: center;
}
.fig_con{
  width:70%;
}
.related_con{
  width:30%;
}
.final_postcon{
  margin: 0 10px 0 10px;
  width: 980px;
}
.lapfinal_postcon{
display: flex;
justify-content: center;
}
.lap_pull{
  display:none
}
.enlarge{
  width:550px !important;
}
.btns_container{
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 25px;
}
.item2{grid-area:lntext;
  font-size: 17px;
  font-weight: 700;
}
.lead{
  color:rgb(136, 134, 134);
  font-weight: 500;
  font-size: 16px;
}
.cat{
  float: left;
  font-family: var(--headling-text);
  font-size: 10px;
  color: rgb(170, 8, 8);;
}
#ct{
  font-size:9px;
  color:rgb(49, 48, 48);
  margin-top: 0;
  font-family:'Poppins', sans-serif;
}
.latestnews_container{
  width: 100%;
}
.topnews_container{
  width:100%;
}
.topnewsimg{
  width: 100%;
  height: 310px;
  border-radius: 8px;
  margin: 0;
}
.footer img:nth-child(1){
  width: 170px;
  margin-left: 35px;
  margin-top: 28px;
 }
 #pointer{
  width:35%;
}
.asize{
  font-size: 25px;
}
}
@media screen and (min-width:1600px) {
  .topnewsimg{
    width: 100%;
    height: 500px;
    border-radius: 8px;
    margin: 0;
  }
}